body {
  background: #0000ff;
}

p {
  color: white;
  font-family: Courier;
  font-size: 6rem;
}

.textContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width: 300px;
  height: 500px;
}

.logo {
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width: 200px;
  height: 200px;
  background-image: url("../images/campop.png");
}
